<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Using Policyfiles: YoloVer as a Workflow</title>
    <meta name="description" content="A guide to using a Policyfile workflow with Chef">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style type="text/css">
/* CSS Reset */
img,legend{border:0}legend,td,th{padding:0}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,
canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,optgroup,
strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}svg:not(:root)
{overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre,textarea{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button
{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner
{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]
{-webkit-appearance:textfield;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
table{border-collapse:collapse;border-spacing:0}

.wrapper {
  width: 1024px;
  margin: auto;
}

.slide td {
  vertical-align: top;
  padding: 24px;
}

.thumbnail {
  display: inline-block;
  width: 512px;
  height: 384px;
  background-color: #333;
}

.notes {
  font-size: 20px;
}
    </style>
  </head>
  <body>
    <div class="wrapper">
      <h1>Using Policyfiles: YoloVer as a Workflow</h1>
      <div class="preamble">
        <p>WARNING: This guide is a work in progress. Check back often for new updates.</p>
        <p>These slides are also available as a PDF: <a href="yolover_notes.pdf">with notes</a> or <a href="yolover.pdf">without notes</a>.
        <p>This version compiled on <%= Time.now %></p>
      </div>
      <hr />
      <table>
        <%- slides.each do |slide| -%>
        <tr class="slide">
          <td>
            <a class="thumbnail" style="background-image: url(img/sprite-<%= slide['sprite']['sheet'] %>.png);background-position: 0 -<%= slide['sprite']['offset'] %>px" href="img/<%= slide['number'] %>.png" name="<%= slide['number'] %>"></a>
          </td>
          <td class="notes">
            <%= Kramdown::Document.new(slide['notes'].gsub(/^\[.*\]$/, '').strip, input: 'GFM').to_html %>
          </td>
        </div>
        </tr>
        <%- end -%>
      </table>
      <hr />
      <div class="license">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a>
        <br />
        This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
      </div>
    </div>
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-45534915-4','auto');ga('send','pageview');
    </script>
  </body>
</html>
